html body{
  padding: 0;
  margin: 0;
  color: white;
  background-color: #0B0A0A;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

a{
  all: unset;
  cursor: pointer;
}

a:hover{
  color: #DDF164;
}

#navBar{
  background-color: #0B0A0A;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

#logoConversium{
  width: 280px;
  height: 45px;
  margin: 25px;
}

#containerTexteNavBar{
  display: flex;
  width: 1000px;
  height: 20px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 40px;
  justify-content: space-between;
  white-space: nowrap;

}

#contactezNousNavBar{
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 160px;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  padding: 10px;
  white-space: nowrap;
}

#phone{
  width: 24px;
  height: 24px;
}

#titreBackground{
  width: 740px;
  height: 180px;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#paragrapheBackground{
  width: 907px;
  height: 76px;
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#titrePage2{
  width: 830px;
  height: 120px;
  margin: 100px auto;
  font-size: 40px;
  text-align: center;
}

#titrePage2 span{
  color: #DDF164;
}

#paragraphePage2{
  width: 80%;
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
}

#containerVignette{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 50px auto;
}

#vignette1{
  background-image: url("/img/vignette1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 708px;
  opacity: 0;
  transition: opacity 1s;
  transition-timing-function: ease-in;
}

#vignette1.visible{
  opacity: 1;
}


#vignette2{
  background-image: url("/img/vignette2.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 708px;
  opacity: 0;
  transition: opacity 1s;
  transition-timing-function: ease-in;
}

#vignette2.visible{
  opacity: 1;
}

#vignette3{
  background-image: url("/img/vignette3.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 798px;
  opacity: 0;
  transition: opacity 1s;
  transition-timing-function: ease-in;
}

#vignette3.visible{
  opacity: 1;
}

#solutionTitre{
  width: 20%;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  background: linear-gradient(90deg, #DDF164 20.52%, rgba(189, 255, 0, 0.87) 49.58%, rgba(255, 92, 0, 0.76) 70.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#containerSolutions div{
  margin: 50px auto;
}

.boutonEnSavoirPlus{
  width: 220px;
  height: 50px;
  background: #DDF164;
  border-radius: 50px;
  text-align: center;
  padding-top: 20px;
  color: black;
  transition: background-color 0.5s;
  cursor: pointer;
}

.boutonEnSavoirPlus:hover{
  background-color: #fced37;
}

#containerChatBot{
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#containerChatBot p span{
  color: #DDF164;
}

#containerTexte h2{
  font-weight: 500;
  font-size: 40px;
  width: 400px;
  background: linear-gradient(90deg, #DDF164 20.52%, rgba(189, 255, 0, 0.87) 49.58%, rgba(255, 92, 0, 0.76) 70.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#containerTexte p{
  width: 700px;
  font-size: 25px;
}

#containerTexte div{
  float: right;
}

#logoFooter{
  width: 330px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

#containerContact{
  width: 790px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

#containerContact span{
  color: #DDF164;
}

#containerContact img{
  width: 39px;
  height: 39px;
}

#copyright{
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

/*---------------- Qui sommes nous ? --------------*/

#containerNotreHistoire{
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

#containerNotreHistoire h2{
  font-size: 40px;
  font-weight: 500;
  background: linear-gradient(90deg, #DDF164 20.52%, rgba(189, 255, 0, 0.87) 49.58%, rgba(255, 92, 0, 0.76) 70.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-align: center;
}

#containerNotreHistoire p{
  font-size: 23px;
}

#containerNotreHistoire img{
  margin-top: 50px;
}

#containerNotreMission{
  width: 70%;
  margin: 0 auto;
}

#containerNotreMission h2{
  font-size: 40px;
  font-weight: 500;
  background: linear-gradient(90deg, #DDF164 20.52%, rgba(189, 255, 0, 0.87) 49.58%, rgba(255, 92, 0, 0.76) 70.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-align: center;
}

#containerNotreMission p{
  font-size: 23px;
}

#containerTexteNotreMethodologie{
  width: 70%;
  margin: 0 auto;
}

#containerTexteNotreMethodologie h2{
  font-size: 40px;
  font-weight: 500;
  background: linear-gradient(90deg, #DDF164 20.52%, rgba(189, 255, 0, 0.87) 49.58%, rgba(255, 92, 0, 0.76) 70.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-align: center;
}

#containerTexteNotreMethodologie p{
  font-size: 23px;
}

#containerMethodologie{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
}

.vignetteMethode{
  width: 400px;
  height: 445px;
  background-color: #202022;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border-radius: 10px;
}

.containerInterieurMethode{
  padding-top: 80px;
}

.containerInterieurMethode div:nth-child(1){
  font-size: 25px;
}

.vignetteMethode div{
  width: 350px;
  margin: 0 auto;
}

.vignetteMethode img{
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/*------------------ Page génération de leads ---------------------*/

#containerTexteGenerationLead{
  width: 70%;
  margin: 0 auto;
}

#containerTexteGenerationLead h2{
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  background: linear-gradient(90deg, #DDF164 20.52%, rgba(189, 255, 0, 0.87) 49.58%, rgba(255, 92, 0, 0.76) 70.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#containerTexteGenerationLead p{
  font-size: 23px;
}

#containerMethodeGenerationLead{
  width: 70%;
  margin: 150px auto;
  display: flex;
  justify-content: space-between;
}

#texteMethodeGenerationLead{
  width: 860px;
  font-size: 25px;
  margin-right: 50px;
}

#texteMethodeGenerationLead h2{
  background: linear-gradient(90deg, #DDF164 20.52%, rgba(189, 255, 0, 0.87) 49.58%, rgba(255, 92, 0, 0.76) 70.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#containerVignetteGenerationLead{
  display: flex;
  flex-wrap: wrap;
}

.vignetteLead{
  width: 375px;
  height: 352px;
  margin: 20px;
  border-radius: 10px;
  background-color: #202022;
}

.containerTexteVignette{
  width: 275px;
  margin: 50px auto;
  font-size: 22px;
  font-weight: 500;
}

.containerTexteVignette p{
  font-size: 18px;
  font-weight: 400;
}

#contactGenerationLead{
  width: 70%;
  margin: 0 auto;
}

#contactGenerationLead p{
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  background: linear-gradient(90deg, #DDF164 20.52%, rgba(189, 255, 0, 0.87) 49.58%, rgba(255, 92, 0, 0.76) 70.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#contactGenerationLead div{
  margin: 80px auto;
}

/*------------------ Dev Web --------------------*/

#texteTitreDevWeb{
  width: 70%;
  margin: 0 auto;
}

#texteTitreDevWeb h1{
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  background: linear-gradient(90deg, #DDF164 20.52%, rgba(189, 255, 0, 0.87) 49.58%, rgba(255, 92, 0, 0.76) 70.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#texteTitreDevWeb p{
  font-size: 22px;
}

#texteDevWeb2{
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  background: linear-gradient(90deg, #DDF164 20.52%, rgba(189, 255, 0, 0.87) 49.58%, rgba(255, 92, 0, 0.76) 70.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#containerVignetteDevWeb{
  width: 70%;
  margin: 0 auto;
}

.vignetteWeb{
  background: linear-gradient(102.61deg, #ADE1DB 0.67%, rgba(136, 183, 252, 0.76) 46.95%, rgba(227, 147, 255, 0.65) 93.24%);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  height: 510px;
}

#containerVignetteDevWeb .vignetteWeb:nth-child(2){
  background: linear-gradient(102.61deg, #E09C9C 0.67%, rgba(247, 250, 136, 0.76) 46.95%, rgba(147, 255, 209, 0.65) 93.24%);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

#containerVignetteDevWeb .vignetteWeb:nth-child(3){
  background: linear-gradient(102.61deg, #61D6C1 0.67%, rgba(66, 97, 204, 0.76) 46.95%, rgba(225, 81, 228, 0.65) 93.24%);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.vignetteWeb h2{
  font-size: 50px;
  font-weight: 500;
  padding-top: 100px;
  margin-left: 50px;
}

.vignetteWeb p{
  font-size: 25px;
  margin: 30px;
}

.vignetteWeb span{
  font-size: 80px;
}

/*-------------------- Notre chatbot ----------------------*/

#containerChatbot{
  width: 70%;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#containerTexteChatbot{
  width: 40%;
}

#containerTexteChatbot h1{
  font-size: 40px;
  font-weight: 500;
  background: linear-gradient(90deg, #DDF164 20.52%, rgba(189, 255, 0, 0.87) 49.58%, rgba(255, 92, 0, 0.76) 70.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#containerTexteChatbot p{
  font-size: 23px;
}

#titreAventageChatbot{
  width: 70%;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 500;
  background: linear-gradient(90deg, #DDF164 20.52%, rgba(189, 255, 0, 0.87) 49.58%, rgba(255, 92, 0, 0.76) 70.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#containerAventageChatbot{
  width: 68%;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#containerAventageChatbot div:nth-child(1){
  background-image: url("/img/vignette1ChatBot.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#containerAventageChatbot div:nth-child(1) p{
  width: 400px;
  margin: 100px auto;
}

#containerAventageChatbot div:nth-child(2){
  background-image: url("/img/vignette2ChatBot.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#containerAventageChatbot div:nth-child(2) p{
  width: 600px;
  margin: 100px auto;
}

#containerAventageChatbot div:nth-child(3){
  background-image: url("/img/vignette3ChatBot.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#containerAventageChatbot div:nth-child(3) p{
  width: 600px;
  margin: 100px auto;
}

#containerAventageChatbot div:nth-child(4){
  background-image: url("/img/vignette4ChatBot.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#containerAventageChatbot div:nth-child(4) p{
  width: 400px;
  margin: 100px auto;
}

#containerAventageChatbot div:nth-child(5){
  background-image: url("/img/vignette5ChatBot.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#containerAventageChatbot div:nth-child(5) p{
  width: 400px;
  margin: 100px auto;
}

#containerAventageChatbot div:nth-child(6){
  background-image: url("/img/vignette6ChatBot.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#containerAventageChatbot div:nth-child(6) p{
  width: 600px;
  margin: 100px auto;
}

.vignetteAventagePetit{
  width: 455px;
  height: 450px;
  margin-top: 40px;
  font-size: 35px;
}

.vignetteAventagePetit span{
  color: #DDF164;
  font-size: 60px;
}

.vignetteAventageGrand{
  width: 790px;
  height: 450px;
  margin-top: 40px;
  font-size: 35px;
}

.vignetteAventageGrand span{
  color: #DDF164;
  font-size: 60px;
}

/*-------------------- Contact ---------------------*/

#containerTexteContactezNous{
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

#containerTexteContactezNous h1{
  font-size: 40px;
  font-weight: 500;
  background: linear-gradient(90deg, #DDF164 20.52%, rgba(189, 255, 0, 0.87) 49.58%, rgba(255, 92, 0, 0.76) 70.3%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#containerTexteContactezNous p{
  font-size: 22px;
}


#containerCarteFormulaire{
  display: flex;
  width: 70%;
  margin: 100px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

#containerCarteFormulaire form{
  background-color: #202022;
  width: 590px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  font-size: 25px;
  border-radius: 10px;
}

#containerCarte{
  background-color: #202022;
  border-radius: 10px;
}

#containerLocTelMail{
  width: 400px;
  margin: 50px auto;
}

#containerLocTelMail span{
  color: #DDF164;
  font-size: 30px;
}

#containerLocTelMail img{
  width: 60px;
  height: 60px;
}

#containerAdresse{
  display: flex;
}

#containerAdresse div{
  margin-left: 35px;
}

#containerMail{
  display: flex;
  margin-top: 30px;
}

#containerMail div{
  margin-left: 35px;
}

#containerTel{
  display: flex;
  margin-top: 30px;
}

#containerTel div{
  margin-left: 35px;
}

#containerFormulaire{
  width: 50%;
}


#buttonForm{
  width: 220px;
  height: 50px;
  background: #DDF164;
  border-radius: 50px;
  text-align: center;
  color: black;
  transition: background-color 0.5s;
  box-shadow: none;
}

form input{
  width: 260px;
  height: 60px;
  background: #363434;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 20px;
  color: #bdbdbd;
}

input{
  all: unset;
}

textarea{
  all: unset;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 20px;
  color: #bdbdbd;
}

form textarea{
  background: #363434;
  border-radius: 10px;
}
