/*---------------------- Home ----------------------*/

@media (max-width: 1500px) {
    #containerChatBot img {
        display: none;
    }

    #vignette1 {
        height: 500px;
    }

    #vignette2 {
        height: 500px;
        margin-top: 20px;
    }

    #vignette3 {
        height: 560px;
    }

    #containerTexte {
        width: 100%;
    }

    #containerTexte h2{
        width: 50%;
    }


    #containerTexte p {
        width: 100%;
    }

    #containerTexteNavBar {
        display: none;
    }

    #logoConversium {
        margin: 30px auto;
        padding-left: 100px;
    }

    #contactezNousNavBar {
        background-image: url("/img/burgerMenu.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 30px;
        height: 20px;
        margin: 0;
        margin-top: 35px;
        margin-right: 20px;
    }

    #contactezNousNavBar img {
        display: none;
    }

    #contactezNousNavBar div {
        display: none;
    }
}

@media (max-width: 1300px) {

    #containerVignette{
        width: 70%;
    }

    #vignette1 {
        height: 410px;
    }

    #vignette2 {
        height: 410px;
        margin-top: 20px;
    }

    #vignette3 {
        height: 460px;
    }
}

@media (max-width: 987px) {

    #titreBackground{
        width: 100%;
        height: 180px;
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #paragrapheBackground{
        width: 100%;
        height: 76px;
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #titrePage2{
        width: 100%;
        height: auto;
        font-size: 30px;
    }

    #paragraphePage2{
        width: 100%;
        height: auto;
        font-size: 20px;
    }

    #backgroundVideo{
        height: 90vh;
    }

    #containerVignette{
        width: 48%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 50px auto;
    }

    #vignette1 {
        width: 367px;
        height: 394px;
        background-image: url("/img/vignette1Mobile.png");
        margin-top: 20px;
    }

    #vignette2 {
        width: 367px;
        height: 394px;
        background-image: url("/img/vignette2Mobile.png");
        margin-top: 20px;
    }

    #vignette3 {
        width: 367px;
        height: 394px;
        background-image: url("/img/vignette3Mobile.png");
        margin-top: 20px;
    }

    #solutionTitre{
        width: 100%;
    }

    #containerContact{
        width: 90%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        margin: 50px auto;
    }
}

@media (max-width: 500px) {

    #containerVignette{
        width: 74%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 50px auto;
    }

    #vignette1 {
        width: 480px;
        height: 400px;
        background-image: url("/img/vignette1Mobile.png");
        margin-top: 10px;
    }

    #vignette2 {
        width: 480px;
        height: 400px;
        background-image: url("/img/vignette2Mobile.png");
        margin-top: 10px;
    }

    #vignette3 {
        width: 480px;
        height: 400px;
        background-image: url("/img/vignette3Mobile.png");
        margin-top: 10px;
    }

    #containerTexte h2{
        width: 100%;
    }
}

@media (max-width: 532px) {
    #logoConversium{
        padding-left: 25px;
        width: 220px;
        height: 40px;
    }

    #contactezNousNavBar {
        background-image: url("/img/burgerMenu.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 15px;
        margin: 0;
        margin-top: 35px;
        margin-right: 20px;
    }
}

@media (max-width: 569px) {
    #containerContact{
        width: 80%;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 50px auto;
    }
}

@media (max-width: 375px) {
    #containerVignette{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 50px auto;
    }

    #vignette1 {
        width: 367px;
        height: 394px;
        background-image: url("/img/vignette1Mobile.png");
        margin-top: 0;
    }

    #vignette2 {
        width: 367px;
        height: 394px;
        background-image: url("/img/vignette2Mobile.png");
        margin-top: 0;
    }

    #vignette3 {
        width: 367px;
        height: 394px;
        background-image: url("/img/vignette3Mobile.png");
        margin-top: 0;

    }
}

/*------------------------ Qui sommes-nous -------------------------*/

@media (max-width: 1274px) {
    #containerMethodologie{
        width: 50%;
    }
}

@media (max-width: 915px) {
    #containerNotreHistoire img{
        display: none;
    }
}

@media (max-width: 746px) {

    #containerMethodologie{
        width: 80%;
    }
}

@media (max-width: 435px) {
    #containerMethodologie{
        width: 100%;
    }
}

/*------------------------ Generation de lead -------------------------*/


@media (max-width: 1280px) {
    #containerMethodeGenerationLead{
        flex-wrap: wrap;
    }
}

@media (max-width: 746px) {
    #containerMethodeGenerationLead{
        width: 100%;
    }

    #texteMethodeGenerationLead{
        width: 70%;
        margin: 0 auto;
    }

    .vignetteLead{
        margin: 20px auto;
    }

    h2{
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }

    #containerTexteGenerationLead h2{
        font-size: 25px;
    }

    #containerTexteGenerationLead p{
        font-size: 20px;
    }

    #contactGenerationLead p{
        font-size: 25px;
    }
}


/*------------------------ Developpement web -------------------------*/

@media (max-width: 1380px) {
    .vignetteWeb h2 {
        font-size: 40px;
    }

    .vignetteWeb p {
        font-size: 25px;
    }
}

@media (max-width: 1054px) {
    .vignetteWeb h2 {
        font-size: 35px;
        padding-top: 50px;
    }

    .vignetteWeb p {
        font-size: 20px;
    }
}

@media (max-width: 605px) {
    .vignetteWeb h2 {
        font-size: 30px;
        padding-top: 50px;
    }

    .vignetteWeb p {
        font-size: 18px;
    }
}


@media (max-width: 523px) {
    .vignetteWeb h2 {
        font-size: 25px;
        padding-top: 50px;
    }

    .vignetteWeb p {
        font-size: 15px;
    }
}

@media (max-width: 413px) {

    #texteTitreDevWeb h1{
        font-size: 30px;
    }

    #texteTitreDevWeb p{
        font-size: 15px;
    }

    #texteDevWeb2{
        font-size: 30px;
    }

    .vignetteWeb{
        height: 300px;
    }

    .vignetteWeb span{
        font-size: 40px;
    }

    .vignetteWeb h2 {
        font-size: 18px;
        padding-top: 30px;
    }

    .vignetteWeb p {
        font-size: 10px;
    }
}

/*------------------------ chatbot -------------------------*/

@media (max-width: 1867px) {
    #containerAventageChatbot{
        width: 80%;
    }
}

@media (max-width: 1280px) {

    .vignetteAventageGrand{
        width: 455px;
        height: 449px;
    }

    #containerAventageChatbot div:nth-child(2){
        background-image: url("/img/vignette2Responsive.png");
    }

    #containerAventageChatbot div:nth-child(2) p{
        width: 400px;
        margin: 80px auto;
    }

    #containerAventageChatbot div:nth-child(3){
        background-image: url("/img/vignette3Responsive.png");
    }

    #containerAventageChatbot div:nth-child(3) p{
        width: 400px;
        margin: 80px auto;
    }

    #containerAventageChatbot div:nth-child(6){
        background-image: url("/img/vignette6Responsive.png");
    }

    #containerAventageChatbot div:nth-child(6) p{
        width: 400px;
        margin: 50px auto;
    }
}

@media (max-width: 1070px) {

    #containerTexteChatbot{
        width: 90%;
    }

    #containerChatbot img{
        display: none;
    }

    #containerTexteChatbot h1{
        width: 100%;
    }

    #containerTexteChatbot p{
        width: 100%;
    }

    #containerAventageChatbot{
        width: 70%;
    }
}

@media (max-width: 520px) {
    #containerAventageChatbot{
        width: 100%;
    }

    .vignetteAventageGrand{
        margin: 20px auto;
    }

    .vignetteAventagePetit{
        margin: 20px auto;
    }
}

@media (max-width: 450px) {

    #containerTexteChatbot{
        width: 100%;
    }

    #containerTexteChatbot h1{
        font-size: 30px;
    }

    #containerTexteChatbot p{
        font-size: 20px;
    }

    #titreAventageChatbot{
        font-size: 30px;
        width: 70%;
    }
}

/*------------------------ chatbot -------------------------*/

@media (max-width: 1700px) {

    #containerCarteFormulaire{
        width: 100%;
    }

    #containerCarte{
        margin: 0 auto;
    }

    #containerFormulaire{
        margin: 100px auto;
    }
}

@media (max-width: 574px) {
    #containerFormulaire{
        width: 100%;
        padding: 10px;
    }

    #carte{
        width: 100%;
    }

    #containerFormulaire input{
        width: 100%;
    }

    #containerFormulaire textarea{
        width: 90%;
    }

    #buttonForm{
        margin-top: 20px;
    }

}


















